@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');


html, body{ 
    height: 100%;

}

*{
    font-family: 'Poppins', sans-serif!important;
    font-weight: 300;
}

h1{
    font-size: 60px;
    line-height: 120px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
}

h2{
    font-size: 20px;
    line-height: 33px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #ff3a2d;

}
/* Gris y Rojo */
h3{
    font-size: 14pt;
    color: #333333;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

 /* Negro y Gris */
p{
    font-size: 14pt;
    color: #757575;
    line-height: 25px;
    font-style: normal;
    font-weight: 300;
}

.navbar{
    padding:20px 0 20px 45px;
position: fixed;
    z-index: 9999;
    width: 100%;
}

.bgTransparent{
    background-color:rgba(255, 255, 255, .4);
}

.navbar-nav .nav-item .nav-link{
    color: #757575;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 2%;
}

.bgLightGray{
    background-color: #F6F6F6;
}

.responsiveLogo{
    width: 20%;
}

.long{
  width: 200px;
  text-align: center;
}

.thirdDiv img{
    width: 196px;
}

.col-md-med{
    width: 20%;
}

.redes{
   font-size: 25px;
   color: #d71f27;
}

.redes:hover{
    color: #ffc000;
}

footer{
  
    background-color: #1b1b1b;
    padding: 10px 0 10px;
}

footer h5, footer h5 a{
    color: #757575;
    line-height: 30px;
    font-weight: 700!important;
    text-transform: none;
    font-style: normal;
    font-size: 14px;
    margin: 0px;
}

footer a:hover{
    color:#e7322c;
}


.absolute, .absoluteRes{
    position: absolute;
}

.relative, .relativeRes{
position: relative;
}

.somosQ{
    top: 40%;
    text-align: center;
}

.avisoP{
    top: 40%;
    text-align: center;
    color:#464646!important;
}

.red{
    color:#d71f27
}

.white{
    color: white;
}

.somosIcon{
    width:104px;
}

.hidden{
    display: none;
}

.formulario input, .formulario textarea{
    border-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 6px;


    font-size: 13px;
    line-height: 17px;
   
    font-weight: 400;

}

.submit{
    background-color: #e7322c;
    border-color: #e7322c;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0 45px;
}


.submit:hover{
    color: #ffffff;
    background-color: #ffc000;
    border-color: #ffc000;
}

#mail, #phone{
    color: #757575;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
}



#mail:hover, #phone:hover{
    color:#ffc000;
}

.active{
    color: #ff3a2d!important;
}

.whatsapp{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99999;
    height: 50px;
    width: 50px;

}

#scrollTop{
    position: fixed;
    bottom: 13%;
    right: 4%;
    z-index: 99999;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-color: rgba(231,50,44,1);
    border-width: 4px;
    border-style: solid;
    cursor: pointer;
    border-radius: 50%;
    color: rgba(231,50,44,1);
    opacity: 0;
}

.whatsapp img{
    border-radius: 50%;
    padding: 15px;
}

.gracias p{
    color:#d71f27;
    font-size: 20px;
    font-weight: 600;
}

.gracias a{
    color: #757575;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


/* Style Carrousel */

.eventoTxt{
    z-index: 99999;
    bottom: 10%;
    left: 15%;
}

.eventoTxt h2{
    color: black;
    font-size: 35px;
    font-weight: 400;
    font-style: italic;
    line-height: 40px;
}

.eventoTxt h2 span{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.eventoTxt li{
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.eventoTxt a{
    font-size: 1.5vw;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    color: black!important;
}

.eventoTxt a:hover{

    color: black!important;
    opacity: .8;
}

.eventoTxt li small{
    font-style: italic;
    color: black;
    font-size: 26px;
    font-weight: 500;
}

.eventoTxt ul {
    list-style: none;
  }
  
  .eventoTxt ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .eventoTxt p strong,  .eventoTxt p:last-child{
      color: black;
  }


  .eventoTxt .red{
  
    font-weight: 600;
    font-size: 35px;
}



  .eventoTxt p strong{
    font-weight: 600;
    font-size: 25px;
  }

  .eventoTxt p small{
    font-size: 25px;
  }



  /* Expositores */

  .expo1{
    left: -20%;
    top: 10%;
    width: 44%;
    z-index: -1;
  }

  .expo2 {
    left: -9%;
    bottom: 0px;
    width: 45%;
    z-index: -1;
}

.expo3{
    bottom: 5%;
    right: -18%;
    text-align: right;
    width: 43%;
    z-index: -1;
}

.expositoresDivResponsive{
    display: none;
}
@media(max-width:1156px){
    .expo3 {

        width: 40%;
    }
}

@media(max-width:1180px){
    .expo2 {
        left: -11%;
        bottom: -4%;
    }
    .expo1{
        width: 40%;
    }
}

@media(max-width:1048px){
    .expositoresDiv{
        display: none;
    }
    .expositoresDivResponsive{
        display: block;
    }
    .expoRes1, .expoRes2, .expoRes3{
        padding-top: 8%;       
    }
}



.expositoresDiv h2{
    color:black;
    font-size: 1.5vw;
    font-weight: normal;
}

.expositoresDiv h2 span{
    font-weight: 700;
}

.expositoresDiv p{
    font-size: 1.3vw;
    font-weight: 400;

}

.expositoresDiv p .red{
    font-size: 1.3vw;
    font-weight: 600;
}


.expositoresDiv hr{
    border-top: 3px solid rgb(247, 2, 2);
}

.yellowSpan{
    background-color: #ffc000;
    color: white;
    font-weight: 700;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}

.expoRedTitle{
    font-weight: 700;
    font-size: 34px;
    color: #FB1720;
    margin-bottom: 5px;
}
.expoYellowTitle{
    font-weight: 700;
    font-size: 38px;
    color: #ffc000;
}



@media(max-width:1090px){
    .long{
        width: unset;
        text-align: left;
    }
    .bgTransparent{
        background-color: white;
    }
    .navbar{
        position: relative;
    }
    h1{
        font-size: 25px!important;
        line-height: 35px!important;  
    }

    .responsiveLogo{
        width: 30%;
    }
}

@media(max-width:800px){
    .responsiveLogo{
        width: 50%;
    }
    .absoluteRes{
        position: relative;
    }
    .eventoTxt a{
        font-size: 18px;
    }
    .thirdDiv img{
        width: 100%;
    }

    .eventoTxt h2, .eventoTxt h2 span{
        font-size: 30px;
    }

    .eventoTxt{
        left: 0px;
    }
    
}

.numeral{
    list-style: decimal;
}

    .avisoPrivacidad a{
        color: #757575;
        font-weight: 400;
    }

    

    .avisoPrivacidad p:last-child{
        font-weight: 400;
    }

